.loginAndRegistration {
    border: 1px solid rgba(185, 184, 184, 0.8);
    background: white;
    padding: 20px;
}



.containerForTitel {
    padding: 5px 20px;
    border-bottom: 1px solid rgb(194, 193, 193, 0.6);
}
.clientInfo {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(194, 193, 193, 0.6);
}
#clientInfo input, select {
    opacity: 0.9;
    height: 30px;
    background-color: white;
    font-size: 0.8em;
    border: 1px solid rgb(194, 193, 193, 0.6)   ;   
}
#clientInfo fieldset {
    margin-top: 20px;
}

#clientInfo fieldset, p, option{
    font-size: 0.8em;
}
#robot {
    border: 1px solid rgb(194, 193, 193, 0.6);
    height: 70px;
}

.btn{
    border-radius: 0%;
    margin: 5px;
    border: none;
}

.blue {
    background-color: #004fa2;
    color: white;
    
}
.red {
    background-color: #df070e;
    color: white; 
}

.red > a {
    text-decoration: none;
}

button, input, select {
    cursor: pointer;
}

.agreed {
    padding-left: 20px;
}
.error {
    color: red;
}

sup {
    font-size:smaller;
    color:#dc1f26;
}

.side {
    border-right: 1px solid rgba(185, 184, 184, 0.8);
    text-align: justify;
   
}

.side:last-child {
    border-right: none;
}

.side p, ul {
    font-size: 1em;
    padding: 10px;
}
.side  ul  {
    text-align: left;
    font-size: 1em;
    padding-left: 20px;
}
#regInfo {
    list-style-type: disc;
    list-style: red;

}

#regTitle {
    background: white;
}

/*Login*/

#loginWraper > div {
    margin-bottom: 20px;
}

.col-sm-4 p a ul>li {
    font-size: 1em;
}