.productWrapper {
    margin-top: 20px;
    width: 100%;
    margin: 0 auto;
    background: white;
    

}

.singlePage {
    margin-right: 50px;
}

.price {
    color: red;
    font-size: 1.8em;
    font-weight: bold;
}

.right {
    background: rgb(248, 245, 245);
    
}
 
.buy {
    width: 100px;
}

#containerForPrice{
    border-bottom: 1px solid rgb(194, 193, 193, 0.6);
}
