.productWrapper {
    /* margin-top: 20px; */
    width: 100%;
    margin: 0 auto;
    background: white;
    padding: 20px;
    z-index:400;
}

.tittleForSingleProduct {
    border-bottom: 1px solid rgb(194, 193, 193, 0.6);
    z-index:400;
    
}
#price {
    color: red;
    font-size: 1.2em;
    font-weight: bold;
}
.left {
    z-index:100;
}
.right {
    background: rgb(248, 245, 245);
    z-index:200;
}
 
/* .buy {
    width: 100px;
} */

.containerForDetail{
    border-bottom: 1px solid rgb(194, 193, 193, 0.6);
}

img {
    cursor: pointer;
}

.productWrapper li {
    font-size: 1em;
    font-weight: bold;
}

.productWrapper div{
    padding: 10px;
  
}


.zoom {      
    -webkit-transition: all 0.35s ease-in-out;    
    -moz-transition: all 0.35s ease-in-out;    
    transition: all 0.35s ease-in-out;     
    cursor: -webkit-zoom-in;      
    cursor: -moz-zoom-in;  
    overflow: hidden;      
    cursor: zoom-in;  
    margin-top: 50px
    }     
    
    .zoom:hover,  
    .zoom:active,   
    .zoom:focus {
    /**adjust scale to desired size, 
    add browser prefixes**/
    -ms-transform: scale(1.75);    
    -moz-transform: scale(1.75);  
    -webkit-transform: scale(1.75);  
    -o-transform: scale(1.75);  
    transform: scale(1.75);
     
    position:relative;      
    z-index:100;   
    }