#body{
    width: 100%;
    height: 100%;
    min-width: 240px;
    cursor: default;
    position: relative;
    overflow-x: hidden;
    background-color: #e6e6e6;
}

/* TOP NAV */

#top-nav{
    width: 110%;
    height: 43px;
    top: 0;
    left: 0;
    background-color: white;
    margin-left: -20px;
    padding-right: 105px;
    font-size: 0.8em;
}
#top-nav > ul{
    list-style-type: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#top-nav > ul > li{
    float: left;
    padding-left: 10px;
}
#top-nav > ul > li > a{
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Main Wrapper */

#wrapper{
    width: 85%;
    margin: 5%;
}

/* Logo */

#logo{
    float: left;
}
#logo-name{
    margin-bottom: 20px;
}
#search-form > form > input{
    /* float: left; */
    position: relative;
    left: 36px;
    z-index: 12;
    background-color: white;
    width: 38%;
    height: 50px;
    font-size: 1em;
    padding: 0 15px;
    background-image:url(../images/search-icon2.ico); 
    background-repeat: no-repeat; 
    background-position: 97% 50%;
}
#search-form > form > ul {
    position: absolute;
    width: 38%;
    left: 438px;
    z-index: 1000;
}


/* profile-favorites section */

#profile-favorites{
    float: right;
    width: 272px;
    height: 52px;
    position: relative;
    top: -22px;
    right: 100px;
    background-color: white;
}
#user-nav{
    font-size: 0.8em;
}
#user-nav > ul{
    list-style-type: none;
    text-align: center;
    padding: 18px 10px;
    text-decoration: none;
}
#user-nav > ul > li{
    float: left;
    padding-left: 5px;
}
#user-nav > ul > li > a{
    color: black;
    text-align: center;
    color: steelblue;
    /* padding: 14px 16px; */
    text-decoration: none;
}
#user-nav > ul > li > a > img{
    
}

/* MAIN NAV */
#main-nav{
    position: relative;
    left: -40px;
    text-align: center;
}
#main-nav > ul{
    list-style-type: none;
    padding: 18px 10px;
    text-decoration: none;
}   
#main-nav > ul > li{
    display: inline-block;
    position: relative;
    width: 7.5%;
    height: 45px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    font-size: 0.8em;
    line-height: 15px;
    vertical-align: top;
    background-color: steelblue;
    color: white;
    border: 0.5px solid black;
}
#main-nav > ul > li > button{
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    font-size: 0.8em;
    line-height: 15px;
    vertical-align: top;
    color: white;
    background-color: steelblue;
    border: 0.5px solid black;
}
#main-nav > ul > li > a{
    text-decoration: none;  
    height: 45px;
    text-align: center;
    color: white;
}

/* main-window */

.main-window{
    position: absolute;
    left: 49px;
    /* border: 1px solid steelblue; */
    width: 1250px;
    height: 333px;
}

#promo-div{
    position: absolute;
    top: 651px;
    left: 49px;
    /* border: 1px solid steelblue; */
    width: 1250px;
    height: 350px;
}
#promo-images > ul > li >  img{
    float: left;
}
#promo-div > div {
    height: 50px;
}
#promo-div > div > p{
    font-weight: bold;
    margin: 15px;
    float: right;
}
#promo-div > div > h3{
    float: left;
    margin: 15px;
}
#promo-div > div > select{
    float: right;
    margin: 15px;
}
#reklami > img {
    width: 100%;
}

/* Main nav / navs  */


/* #TV{
    display: none;
}
#TV > ul {
    z-index: 200;
}
#TV > ul > li {
    color: steelblue;
    widows: 21px;
    height: 42px;
    background-color: white;
    z-index: 200;
    border-bottom: 1px solid grey;
    font-size: 0.8em;
} */
/* Nav elements on hover  */

#first:hover  #TV, #second:hover #Phones, #third:hover #Cameras, #fourth:hover #GPS, 
#five:hover #Computers, #six:hover #CompAcsesory, #seven:hover #Sport, #eight:hover #HomeGarden,
#nine:hover #SmallThings, #ten:hover #AirCon, #eleven:hover #HomeStuff
{
    display: block;
}


#main-nav > ul > li:hover{
    background-color: white;
    color: steelblue;
}
#main-nav > ul > li > a:hover{
    color: steelblue;
    background-color: white
}


/* Navbar container */
/* .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  } */
  
  /* Links inside the navbar */
  /* .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    display: block;
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    font-size: em;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    
  }

  
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   
    z-index: 1000;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
  }

  
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    text-decoration: none;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    
    display: block;
  }

/* search items */
/* Main-div */

/* #products{
    position: relative;
    top: 750px;
} */

/* Detelina coments */

main {
    z-index: 100;
}
.navbar {
    width: 100%;
    background: rgb(46, 46, 216);
    border-radius: 0px;
    
}

.navbar-nav> li{
    
    float:none; 
    width: 9%;
    
    font-size: 0.7em; 
    text-align: center;
    border-right: 1px solid rgb(4, 4, 46, 0.2);
    color: rgb(241, 226, 226);

    
}
.navbar-nav> li:last-child{
    border-right: none;
} 

ul>li {
    padding: 0px 5px;
    text-align: center;
    font-weight: bold
}

@-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(1, 1);
    }
    to {
      -webkit-transform: scale(1.5, 1.5);
    }
  }
  
  @keyframes zoom {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.5, 1.5);
    }
  }
  
  .carousel-inner .item > img {
    -webkit-animation: zoom 20s;
    animation: zoom 20s;
  }

