<div class="col-sm-12">
        <div id="conteinerForProduct" class="row">
            <div class="col-sm-4 side left">
                <div class="first text-left">
                        <input type="text" placeholder="Име" ng-model="product.name">
                        <input type="text" placeholder="Код" ng-model="product.code">
                        <input type="text" placeholder="Цена" ng-model="product.price">
                        <input type="number" placeholder="Количество" ng-model="product.quantity">
                        <input type="number" placeholder="Рейтинг" ng-model="product.rate">
                        <label class="btn btn-danger" for="promotion">Промоция</label><input id="promotion" type="checkbox" ng-model="product.isPromotion">
                </div>
                <hr style="visibility: hidden">
            </div>
            <div class="col-sm-3 side center">
                <div class="first text-left">
                           
                        <input type="text" placeholder="Тип" ng-model="product.type">
                        <input type="text" placeholder="Image" ng-model="product.img">
                        <ul>
                            <li ng-repeat="(key, value) in product.info[0] track by $index">
                                <input type="text" value="{{key}}" ng-keyup="changeKey(key,$event.target.value)"/>
                                <input type="text" ng-model="product.info[0][key]">
                            </li>
                        </ul>
                </div>
                <hr>
                <br>
            </div>
            <div class="col-sm-5 side right">
                <hr>
                <div class="third text-center">
                            <button class="btn btn-secondary btn-lg" ng-click="addSpecification()">ДОБАВИ ХАРАКТЕРИСТИКА</button>
                            <label class="btn btn-danger" for="deleted">Премахни продукт : </label><input id="deleted" type="checkbox" ng-model="product.isSold">
                            <button class="btn btn-success" ng-click="save()">ЗАПАЗИ</button>
                </div>
        </div>
    </div>

</div>