<div ng-controller="productController" class="mainWrapper">
        <!-- <div  class= "main-divs"> -->
        <div id="conteinerForProduct" class="row" ng-repeat="product in products">
                <div class="col-sm-3 side left" >
                        <div class="first">
                            <a href="#!/product/{{product._id}}">
                            <img ng-src="{{product.img}}"width: "150px" height="150px"/>
                            </a>
                        </div>
                        <hr style="visibility: hidden">
                        <div>
                            <span><img src="images/heart.png" width="15px" alt="heart">
                                ЛЮБИМИ &nbsp;
                            </span>
                            <span ><img src="images/compare.png" width="15px" alt="compare"  >
                                СРАВНИ 
                            </span>
                        </div>
                </div>
                <div class="col-sm-4 side center">
                    <div class="first"> 
                        <p class="text-uppercase font-weight-bold">{{product.name}}</p>
                        <p class="text-uppercase font-weight-bold">КОД:{{product.code}}</p>
                        <ul  >
                            <li class="text-justify" ng-repeat="(key, value) in product.info[0]"> {{key|uppercase}}: {{value}}</li>
                        </ul>
                       
                    </div>
                    
                <hr>
                <div class="text-center">
                    <span>РЕЙТИНГ: </span>
                    <span >
                        <img src="images/star.png" width="12px" alt="">
                        <img src="images/star.png" width="12px" alt="">
                        <img src="images/star.png" width="12px" alt="">
                        <img src="images/star.png" width="12px" alt="">
                        <img src="images/star.png" width="12px" alt="">
                    </span>
                </div>
                <br>
            </div>
            <div class="col-sm-3 side right">
                <p>ЦЕНА: {{product.price}} лв.</p>
                <hr>
                <div class="text-center">
                        <button type="button" class="btn btn-secondary btn-sm blue buy" ng-click="AddToCart(product)">КУПИ</button>
                </div ng-controller="loginController">
                <div class="text-center"><button type="button" class="btn btn-secondary btn-sm red" ng-click="">ВИЖ ОЩЕ</button></div>
                <div ng-show="isAdmin" class="text-center"ng-controller="adminController"><button type="button" class="btn btn-secondary btn-sm red" ng-click="removeProduct(product)">ПРЕМАХНИ</button></div>
                <div ng-show="isAdmin" class="text-center"><button type="button" class="btn btn-secondary btn-sm red" ng-click=""><a href="#!/admin/edit/{{product._id}}">РЕДАКТИРАЙ</a></button></div>   
        </div>        
    </div>

