<div ng-controller="productController" class="mainWrapper">
    <div id="sortContainer" class="left">
        <div class="row">
            <div class="col-sm-2">
                <div id="first" class="dropbtn"> Сортирай по име:
                    <i class="fa fa-caret-down"></i>
                    <div id="TV" class="dropdown-content">
                        <ul class="listSort">
                            <div  ng-click='ascendingName()'>
                                <li class="item">
                                    <a href="">Име (възходящ ред)</a>
                                </li>
                            </div>
                            <div>
                                <li class="item" ng-click='descendingName()'>
                                    <a href="">Име (низходящ ред)</a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div id="first" class="dropbtn"> Сортирай по цена:
                    <i class="fa fa-caret-down"></i>
                    <div id="TV" class="dropdown-content">
                        <ul class="listSort">
                            <div >
                                <li class="item" ng-click='ascendingPrice()'>
                                    <a href="">Цена (възходящ ред)</a>
                                </li>
                            </div>
                            <div>
                                <li class="item" ng-click='descendingPrice()'>
                                    <a href="">Цена (низходящ ред)</a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">
            <div id="conteinerForProduct" class="row" ng-repeat="product in products | filter:{isSold:false}">
                <div class="col-sm-4 side left">
                    <div class="first">
                        <a href="#!/product/{{product._id}}">
                            <img ng-src="{{product.img}}" width: "150px" height="150px" />
                        </a>
                    </div>
                    <hr style="visibility: hidden">
                    <div>
                        <span>
                            <img src="images/heart.png" width="15px" alt="heart" ng-click=addToFavorite(product)> ЛЮБИМИ &nbsp;
                        </span>
                        <span ng-click="addForCompare(product)">
                            <img src="images/compare.png" width="15px" alt="compare"> СРАВНИ
                        </span>
                    </div>
                </div>
                <div class="col-sm-5 side center">
                    <div class="first">
                        <p class="text font-weight-bold">{{product.name}}</p>
                        <p class="text-uppercase font-weight-bold">КОД:{{product.code}}</p>
                        <ul>
                            <li class="text-justify" ng-repeat="(key, value) in product.info[0]"> {{key|uppercase}}: {{value}}</li>
                        </ul>

                    </div>

                    <hr>
                    <div class="text-center">
                        <span>РЕЙТИНГ: </span>
                        <span>
                            <img src="images/star.png" width="12px" alt="">
                            <img src="images/star.png" width="12px" alt="">
                            <img src="images/star.png" width="12px" alt="">
                            <img src="images/star.png" width="12px" alt="">
                            <img src="images/star.png" width="12px" alt="">
                        </span>
                    </div>
                    <br>
                </div>
                <div class="col-sm-3 side right">
                    <div class="text-left">
                        <span class="font-weight-bold">ЦЕНА:</span>
                        <span id="price">{{product.price}} лв.</span>
                        <hr>
                    </div>

                    <div class="text-center col-sm-12 col-md-8">
                        <button type="button" class=" btn btn-block blue buy" ng-click="addToCart(product)">ДОБАВИ</button>
                    </div ng-controller="loginController">
                    <div class="text-center col-sm-12 col-md-8">
                        <button type="button" class="btn btn-primary btn-block red" ng-click="">
                            <a href="#!/product/{{product._id}}">ВИЖ ОЩЕ</a>
                        </button>
                    </div>
                    <div ng-show="isAdmin" class="text-center  col-sm-12 col-md-8" ng-controller="adminController">
                        <button type="button" class="btn btn-block blue">ПРЕМАХНИ</button>
                    </div>
                    <div ng-show="isAdmin" class="text-center  col-sm-12 col-md-8">
                        <button type="button" class="btn btn-block red" ng-click="">
                            <a href="#!/admin/edit/{{product._id}}">РЕДАКТИРАЙ</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<section class="banner-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-3" ng-repeat="product in products | filter: { isPromotion : true }">
                <div class="card">
                    <a href="#!/product/{{product._id}}">
                        <img class="img-fluid" ng-src="{{product.img}}" alt="">
                        <div class="card-img-overlay">
                            <span class="badge badge-pill badge-danger">Промоция</span>
                        </div>
                    </a>
                    <div class="card-body">
                        <div class="promo-title">
                            <p class=" title-small">
                                {{product.name | uppercase}}
                            </p>
                        </div>
                        <p class="card-text ">
                            <large class="text-price">
                                {{product.price}} лв.
                            </large>
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
</div>