    <div ng-controller="TvVideoGamingController" class="mainWrapper">
        <!-- <div  class= "main-divs"> -->
        <div id="conteinerForProduct" class="row" ng-repeat="product in products">
                <div class="col-sm-3 side left" >
                        <div class="first">
                            <a href="#!/product/{{product._id}}">
                            <img ng-src="{{product.img}}"width: "100px" height="100px"/>
                            </a>
                        </div>
                        <hr style="visibility: hidden">
                        <div>
                            <span><img src="images/heart.png" width="15px" alt="heart">
                                ЛЮБИМИ &nbsp;
                            </span>
                            <span><img src="images/compare.png" width="15px" alt="compare">
                                СРАВНИ
                            </span>
                        </div>
                </div>
                <div class="col-sm-5 side center">
                    <div class="first"> 
                        <p>{{product.name}}</p>
                        <p>КОД:{{product.code}}</p>
                        <ul  >
                            <li ng-repeat="(key, value) in product.info[0]"> {{key}}: {{value}}</li>
                        </ul>
                       
                    </div>
                    
                <hr>
                <div>
                    <span>
                        <img src="images/star.png" width="12px" alt="">
                        <img src="images/star.png" width="12px" alt="">
                        <img src="images/star.png" width="12px" alt="">
                        <img src="images/star.png" width="12px" alt="">
                        <img src="images/star.png" width="12px" alt="">
                    </span>
                    <span>РЕЙТИНГ: </span>
                </div>
            </div>
            <div class="col-sm-3 side right">
                <p>ЦЕНА: {{product.price}} лв.</p>
                <hr>
                <div>
                    <button type="button" class="btn btn-secondary btn-sm blue buy" ng-click="AddToCart(product)">КУПИ</button>
                </div>
                    <div><button type="button" class="btn btn-secondary btn-sm red" ng-click="">ВИЖ ОЩЕ</button></div>
                    <div ng-controller="adminController"><button type="button" class="btn btn-secondary btn-sm red" ng-click="removeProduct(product)">ПРЕМАХНИ</button></div>
                    <div><button type="button" class="btn btn-secondary btn-sm red" ng-click=""><a href="#!/admin/edit/{{product._id}}">РЕДАКТИРАЙ</a></button></div>
        </div> 
           
    </div>


</body>

</html>