<div ng-controller="cartController">
   <div ng-repeat="product in productsInCart">
       <p>{{product.name }}</p>
       <p>{{product.price | currency}}</p>
       <img width="150px" ng-src="{{product.img}}" alt="">
       <button ng-click="RemoveFromCart(product); refreshTotalPrice()">Премахни от количката</button>
       <button ng-click="buy($event)">КУПИ</button>
   </div>
   <div>
       <p>Вашата сметка е : {{totalPrice | currency}}</p>
   </div>
   
   <div><button ng-show=showOrders ng-click="myOrders($event)">Моите поръчки</button></div>
   <div><button ng-show=!showOrders ng-click="myOrders($event)">Затвори</button></div>
   <div ng-repeat="order in orders">
    <div ng-show=!showOrders>
        <div ng-repeat="o in order">  <img  ng-src="{{o.img}}" width="150px"/> <span>{{o.name}} </span>  <span>{{o.price}} лв. </span> </div>
    </div>
   
    </div>
</div>