<body ng-controller="loginController" ng-app = "app">
<div>
    <div class="loginForm">
        <div ng-app="app">
            <div class="row">
                <div class="col-sm-4">
                    <h3>ВХОД:</h3>
                    <p>Аз вече съм ваш клиент:</p>
                    <fieldset>Електронна поща:<sup>*</sup></fieldset>
                <input  ng-model='user.email' ng-keypress="" required = "required" id="emailForRegister" class="col-sm-8" type="email" name="email" required='required' />
                <p ng-show = "wrongEmail" class="{red: error">Грешен емейл</p>
                <div class="password">
                    <fieldset>Парола:<sup>*</sup></fieldset>
                    <input ng-model = "user.password" ng-keypress="" class="col-sm-8" type="password" name="password" required="required"/>
                    <p ng-show = "wrongPassword" class="error">Грешна парола</p>
                </div>
                <button type="button" class="btn btn-secondary blue" ng-click="clearAllInput()">ВХОД</button>
                </div>

                <div class="col-sm-4"> 
                    <h3>РЕГИСТРАЦИЯ:</h3>
                </hr>
                    <p>Аз съм нов клиент:
                            Ако сте нов клиент, моля регистрирайте се, за да можете да правите поръчки на наши продукти.
                            
                            С посочването на E-mail адрес и парола ще създадете свой личен потребителски акаунт, който освен възможността за пазаруване ще Ви осигури достъп и до допълнителни функционалности като:
                    <ul>
                        <li>Архив поръчки</li>
                        <li>Персонализация</li>
                        <li>Преглед на изпратени поръчки и проследяване на поръчка</li>
                        <li>Запазване на кошници с покупки</li>
                    </ul>
                    </p>
                    <button type="button" class="btn btn-secondary blue" ng-click="clearAllInput()">РЕГИСТРИРАЙ СЕ</button>


                </div>
                <div class="col-sm-4">
                    <h3>Вход с Facebook</h3>
                    <p>Регистрирай се чрез Facebook профила си</p>
                    <button type="button" class="btn btn-secondary blue" ng-click="clearAllInput()">Влез с facebook</button>

                </div>
            </div>

        </div>

    </div>
</div>

</body>